
body{
    width: 100%;
}

.nav-wrapper{
    display: flex;
}
.nav-wrapper ul{
    display: flex;

}
.nav-wrapper li{
    list-style: none;
    padding: 21.6px 25.2px;
    font-size: 18px;
}

.nav-wrapper a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    
}
.logo img{
    width:40px;
    height: 40px;
margin-top: 30px;
    margin-right: 5px;
  
}
.logo h2{
    font-weight: 600;
    font-size: 24px;
  
}
.btn{
    padding: 6.12px 22.95px;
    font-size: 15.3px;
   

}
.start h1:nth-child(2){
color: #43B049;

}
.start p{
   font-size: 22.5px;
}
.images span{
    background: #43B049;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span img{
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}
.brands{
    margin: 0 41px;
    padding: 0 18px;
}
.details{
    background: #DCF0EF;
    padding: 108px 0;
}
.details h3{
    margin: 10px 0;
    font-size: 24px;
}
.details li p{
   
    margin: 4.5px 0 18px;
    font-size: 18px;
}

.details p{
    color: #556575;
}
.state{
    background: #111827;
    padding: 108px 0;
}
.row{
    display: inline;
}
.articles{
    background: #DCF0EF;  
}
.footer{
    background: #152442;
    padding: 72px 0 36px;
}
.card{
    border-radius: 10px;
}
h6{
    color:#4CD47C;
}
.highlight{
    color: #4CD47C;
    margin: 0;
}

.fa-caret-down{
    color: grey;
}
.importance{
    width: 442px;
    height: 446.17px;
    padding: 36px;
}
.footer h1{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.footer a{
    color: #A5B2BD;
    margin:0 0 5.67px;

}
.footer li{
    list-style: none;
}

.footer i{
    color:#A5B2BD;
}
.footer p{
    color:#A5B2BD;  
}
.terms{
    display: flex;
}
.report{
    margin-top: 20px;
    margin-left: 250px;
}
.supercharge .btn{
    margin-top: 30px;
    margin-left: 350px;
    padding: 14.4px 32.4px ;
    
}
.supercharge{
    margin-bottom: 200px;
    
    padding: 180px 0;
}



@media all and (max-width:1051px) and (max-height:937px){
   
    .btn{
        display: none;
    }
    
}
@media all and (max-width:1000px) and (max-height:937px){
    ul{
     visibility: hidden;
    }
    .images{
        display: none;
    }
}

@media all and (max-width:600px) and (max-height:800px){
    ul{
     visibility: hidden;
    }
    .images{
        display: none;
    }
}