* {
    margin: 0;
    padding: 0;
}

body {
    font-family: museo-sans-rounded,sans-serif;
    width: 100%;
    position: relative;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
   
}

.nav-wrapper ul {
    display: flex;
}

.menu {
    margin-left: 200px;
    margin-top: 20px;
}
.nav-wrapper button{
    margin-top: -8px;
    margin-left: 100px;
    padding:12.12px 22.95px;
}
.nav-wrapper li {
    list-style: none;
    padding: 21.6px 25.2px;
    font-size: 18px;
}

.nav-wrapper a {
    text-decoration: none;
    color: black;
  
}

.logo {
    display: flex;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-top: 12.8px;
    margin-right: 5px;
}

.logo h2 {
    font-weight: 600;
    font-size: 24px;
    margin-top:19.8px;
}

.btn {
    padding: 6.12px 22.95px;
    font-size: 15.3px;
}

.menu {
    display: none;
}

.start {
  padding: 108px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.start h1:nth-child(1){
font-size: 68px;
}
.start h1:nth-child(2) {
    color: #43B049;
    width: calc(100% - 45%);
}

.start p {
    font-size: 22.5px;
   bottom: 22.5px;
   width:calc(100% - 45%);
   height: 71.11px;
  margin-top: 45px;
    color: #556575;
}

.start button {
    top: 100px;
    margin-left: 520px;
   
}
#bttn{
   top: 100px; 
 padding: 36px 0 18px;
   height: 80.23px;
}
.images {
    height: 500px;
    margin-left:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images span {
    background: #43B049;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span img {
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}



.images span {
    margin-bottom: 20px;
}

.one {
    margin-left: 230px;
    width: 66px;
    height: 66px;
    top:500px;
    position: absolute;
}

.two {
    margin-left: 130px;
    top: 550px;
    width: 88px;
    height: 88px;
    position: absolute;
}

.three {
    margin-left: 30px;
    top: 680px;
    width: 121px;
    height: 121px;
    position: absolute;
}

.four {
    margin-left: 280px;
    position: absolute;
    top: 650px;
    width: 99px;
    height: 99px;
}

.five {
    margin-left: 400px;
    width: 77px;
    height: 77px;
    position: absolute;
    top: 800px;
}

.six {
    margin-left: 420px;
    position: absolute;
    top: 700px;
    width: 55px;
    height: 55px;
}

.seven {
    margin-left: 520px;
    position: absolute;
    top: 750px;
    width: 82.5px;
    height: 82.5px;
}

.eight {
    margin-left: 620px;
    position: absolute;
    top: 680px;
    width: 71.5px;
    height: 71.5px;
}

.nine {
    margin-left: 720px;
    position: absolute;
    top: 630px;
    width: 60.5px;
    height: 60.5px;
}

.ten {
    margin-left: 820px;
    position: absolute;
    top: 580px;
    width: 69.3px;
    height: 69.3px;
}

.eleven {
    margin-left: 980px;
    position: absolute;
    top: 630px;
    width: 60.5px;
    height: 60.5px;
}

.twelve {
    margin-left: 840px;
    position: absolute;
    top: 700px;
    width: 91.3px;
    height: 91.3px;
}

.thirteen {
    margin-left: 680px;
    position: absolute;
    top: 800px;
    width: 121px;
    height: 121px;
}

.fourteen {
    margin-left: 900px;
    position: absolute;
    top: 880px;
    width: 104.5px;
    height: 104.5px;
}

.one img {
    width: 55px;
    height: 55px;
}

.two img {
    width: 78px;
    height: 78px;
}

.three img {
    width: 111px;
    height: 111px;
}

.four img {
    width: 89px;
    height: 89px;
}

.five img {
    width: 67px;
    height: 67px;
}

.six img {
    width: 45px;
    height: 45px;
}

.seven img {
    width: 72.5px;
    height: 72.5px;
}

.eight img {
    width: 61.5px;
    height: 61.5px;
}

.nine img {
    width: 50.5px;
    height: 50.5px;
}

.ten img {
    width: 59.3px;
    height: 59.3px;
}

.eleven img {
    width: 50.5px;
    height: 50.5px;
}

.twelve img {
    width: 81.3px;
    height: 81.3px;
}

.thirteen img {
    width: 111px;
    height: 111px;
}

.fourteen img {
    width: 94.5px;
    height: 94.5px;
}

.brands {
    margin: 0 41px;
    padding: 0 18px;
}

.details {
    background: #DCF0EF;
    padding: 108px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details h3 {
    
    font-size: 24px;
}

.details li p {
    margin: 4.5px 0 18px;
    font-size: 18px;
}

.details p {
    color: #556575;
}

.state {
    background: #111827;
    padding: 108px 0;
    display: flex;
    justify-content: center;

}

.row {
    display: inline;
}

.articles {
    background: #DCF0EF;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.articles h1 {
    font-size: 46px;
    width: calc(100% - 80%);
    margin-bottom: 40px;
}
.view{
    width: calc(100% - 80%); 
}
.articles button {
    margin-left: 530px;
}

.footer {
    background: #152442;
    padding: 72px 0 36px;
    width: 100%;
}

.card {
    border-radius: 10px;
    
}

h6 {
    color: #4CD47C;
}

.highlight {
    color: #4CD47C;
    height: 200px;
}

.fa-bars {
    color: #fff;
}

.fa-check-circle {
    color: #43B049;
}

.fa-caret-down {
    color: grey;
}

.format {
    height: 651.8px;
    padding: 108px 0;
}

.format img {
    width: 242px;
    height: 200.17px;
}

.importance {
    width: 442px;
    height: 446.17px;
    padding: 36px;
    background: #fff;
}

.footer h1 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.footer a {
    color: #A5B2BD;
    margin: 0 0 5.67px;
    font-size: 16.2px;
}

.footer li {
    list-style: none;
}

.footer i {
    color: #A5B2BD;
}

.footer p {
    color: #A5B2BD;
}

.terms {
    display: flex;
    justify-content: space-between;
}
.terms p{
    font-size: 16.2px;
   
}
.recents .card-title{
   
    font-size: 18px;
}
.articles .card p{
    color: #111827;
}
.supercharge button {
    margin-left: 550px; 
}

.supercharge {
    padding: 180px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.platform {
    padding: 108px 0;
    width: 100%;
}

.platform .card-title {
    color: #0B2227;
    font-size: 14.8px;
    margin: 19.8px 0;
    width: 274.19px;
    height: 26px;
}

.platform img {
    width: 59.19px;
    height: 53.56px;
}

.edition {
    margin: 108px;
}

.articles img {
    width: 364.19px;
    height: 200px;
}

.articles .card {
    width: 364.19px;
}

.articles {
    padding: 108px 100px;
}

.articles .more a:hover {
    text-decoration: underline;
}

.articles button {
    margin-top: 100px;
}

.solutions {
    width:calc(100% - 50%);
   
}
.solutions h1{
font-size: 68px;

margin-left:5px;
}
.solutions p {
    font-size: 22.5px;
  
    height: 108px;
    margin-left:5px;
}

.description p:nth-child(1) {
   width: calc(100% - 50%);
    
    top: 100px;
    font-size: 22.5px;
}
.description p{
    font-size: 22.5px;
}
.challenge {
    width: 442px;
    height: 245.5px;
    margin: 0 0 108px;
}

.destiny {
    width: 442px;
    height: 245.5px;
    margin: 0 0 108px;
}

.secure {
    width: 442px;
    height: 245.5px;
    margin: 0 0 108px;
}

.data-scientist {
    color: #fff;
    font-size: 28px;
    margin: 28px 0 10px;
    width: 264.5px;
    height: 72px;
}

.platform .card {
    width: 364.19px;
    height: 550px;
}

.policy {
    display: flex;
}

.policy p {
    margin-left: 10px;
}

.line {
    border-top: 1px solid #556575;
    height: 20px;
    margin-top: 30px;
}

.anaconda {
    width: 304.5px;
    height: 308px;
    margin-left: 50px;
}

.anaconda img {
    width: 62.96px;
    height: 62.96px;
}

.anaconda span {
    width: 264.5px;
    height: 72px;
    margin: 28px 0 10px;
}

.socials {
    height: 27px;
    padding: 108px 0 0;
}
.socials i{
    font-size: 21.6px;
    margin: 5px;
}
.anaconda-logo  img{
    height: 63px;
    width: 63px;
}

.platform .card p {
    width: 274.19px;
    height: 192px;
    margin: 4.5px 0 18px;
    font-size: 18px;
}

.platform .card a {
    width: 114.27px;
    height: 59px;
    margin: 27px 0 0;
    padding: 0 0 3px;
    font-size: 18px;
    color: #006BA0;
}

.platform .card .part-1 {
    background-color: #80BC00;
    height: 27px;
}

.part-2 {
    background: #00A19B;
}

.part-3 {
    background: #006bA0;
}

.articles p {
    width: 292.19px;
    height: 100px;
    font-size: 22.5px;
    color: #0B2227;
}

.articles .more a {
    color: #006BA0;
}

.rep {
    border: 2px solid #008DD3;
    border-radius: 32px;
    font-size: 18px;
    margin-top: 20px;
    padding: 14.4px 36px;
    margin-bottom: 20px;
}

.rep i {
    margin-left: 5px;
}

button {
    color: #fff;
    background: #0B2227;
    border-radius: 32px;
    font-size: 15px;
    padding: 14.4px 32.4px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #046799;
    box-shadow: 2px 2px 2px #899199;
}

.prog {
    visibility: hidden;
    z-index: 1;
    border: 1px solid #4CD47C;
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 200px;
}.prog h4 {
    
    font-size: 18px;
    color: #152442;
}
.prog:hover{
    visibility: visible;
}
.prog span:hover{
    background: #e1fcea;
}
.solution:hover+.prog {
    visibility: visible;
}

.product {
    position: relative;
}

.duct {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    border: 1px solid #4CD47C;
    background: #fff;
    width: 780px;
    padding: 10px;
}
.duct span:hover{
    background: #e1fcea;
}
.product:hover+.duct {
    visibility: visible;
}

.res {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    border: 1px solid #4CD47C;
    background: #fff;
}
.res span:hover{
    background: #e1fcea;
}
.resources {
    position: relative;
}

.resources:hover+.res {
    visibility: visible;
    z-index: 1;
}

.comp {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    border: 1px solid #4CD47C;
    background: #fff;
    width: 150px;
}

.duct p {
    color: grey;
    font-weight: 600;
    font-size: 16px;
}

.duct h4 {
    font-size: 18px;
    font-weight: 800px;
    color: #152442;
    
}
.duct:hover{
    visibility: visible;
}
.duct span{
    display: flex;
}
.duct img{
    width: 63px;
    height: 63px;
    top: 10px;
}

.res h4 {
    margin-left: 10px;
    font-size: 18px;
    color: #152442;
}

.res p {
    color: grey;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
}
.res:hover{
    visibility: visible;
}
h4{
    font-weight: 800;
}
.comp h4 {
    font-size: 18px;
    padding: 10.5px 18px;
    color: #152442;
  
}
.comp:hover{
    visibility: visible;
}
.comp span:hover{
    background: #e1fcea;
}
.company {
    position: relative;
}

.company:hover+.comp {
    visibility: visible;
    z-index: 1;
}

.importance li {
    width: 280.22px;
    height: 27px;
    font-size: 19.8px;
    margin: 0 0 39.6px;
    color: #0B2227;
    list-style: none;
}

#popup {
    width: 100vw;
    height: 110vh;
    background: #C7EBF7;
    color: #fff;
    visibility: hidden;
    opacity: 0.95;
}

#popup {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

#popup.active {
    position: fixed;
    visibility: visible;
    z-index: 10;
    pointer-events: all;
    transition: 0.5s;
}

#popup .container{
    top: 25%;
    left: 25%;
    position: fixed;
}

#side-Menu {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    visibility: hidden;
}

#side-Menu .operational {
    position: fixed;
    visibility: visible;
    z-index: 1000;
    pointer-events: all;
    transition: 0.5s;
}

h1 {
    font-weight: 600;
}

.brands img {
    width: 155.3px;
    height: 100px;
}

#popup button {
    top: 100px;
    margin-left: 95%;
}

#popup a {
    color: #005a87;
    padding: 23.4px 46.8px;
    border-radius: 36px;
    font-size: 23.4px;
    text-decoration: none;
    margin: 0 0 23.4px;
}

#popup li {
    width: 500.76px;
    height: 75.16px;
    margin: 20px;
}

#popup a:hover {
    background: #fff;
}
.state .report a:hover{
color: #fff;
background: #005a87;
}
.fa-external-link-alt{
    color:#43B049;
}
.recents .card:hover+.more  a{
    text-decoration: underline;
}
strong{
    color: #43B049;
}
.underline{
    background: #43B049;
    visibility: hidden;
    height: 5px;
}
.pro:hover+.underline {
    visibility: visible;
}
.duct:hover+.underline{
    visibility: visible;
}



.price:hover+.underline {
    visibility: visible;
}
.pro{
    color: #152442;
    font-size: 18px;
}
.price{
    color: #152442;
    font-size: 18px; 
}
.remedy{
    color: #152442;
    font-size: 18px; 
}
.remedy:hover+.underline {
    visibility: visible;
}
.sources{
    color: #152442;
    font-size: 18px; 
}
.sources:hover+.underline {
    visibility: visible;
}
.log{
    color: #152442;
    font-size: 18px; 
}
.log:hover+.underline {
    visibility: visible;
}
.facility{
    color: #152442;
    font-size: 18px; 
}
.facility:hover+.underline {
    visibility: visible;
}
.card{
    border-radius: 10px;
}
.click{
margin-top: 20px;

}



@media (max-width:411px) and(max-height:731px){
   
    .click{
        margin-top: 20px;
        margin-left: 80%;
        }
     .start h1{
         margin-left:20px;
     }
     .start h1:nth-child(2){
        
        width: 486px;
    }
   
   
      
}


@media all and (max-width:1051px) and (max-height:937px) {
    .body{
        width: 1051px;    
    }
    .footer {
        width: 1051px;
    }
    
    .nav-wrapper{
        width: 1051px;
    }
    .start{
        width: 1051px;
    }
    .supercharge{
        width: 1051px;
    }
    .articles{
        width: 1051px;
    }
    .platform{
        width: 1051px; 
    }
    .state{
        width: 1051px;
    }

    .menu {
        display: block;
       
    }
    #popup .menu{
        background: #A5B2BD8D;
        opacity: 0.9;
    }
    button:nth-child(1) {
        display: none;
    }
}

.supercharge strong {
    color: #43B049;
}

.state h2 {
    height: 288px;
    font-size: 66.0296px;
}

.state p {
    height: 140px;
    font-size: 18px;
}
.state img{
    width:100%;
    height:100% ;
}



@media all and (max-width:1000px) and (max-height:937px) {
    ul {
        visibility: hidden;
    }
    .images {
        display: none;
    }
    .supercharge button {
        margin-left: 80px;
    }
    .start button {
        margin-left: 80px;
    }
}

@media all and (max-width:600px) and (max-height:800px) {
    .start button {
        margin-left:0px;
    }
    .format {
        height: 446.8px;
        padding: 108px 0;
    }
    .description {
        margin-left: 0px;
    }
  body{
      width: 250vw;
  }
    .details{
        width:250vw;   
    }
    .start{
        width:250vw;   
    }
    .nav-wrapper{
        width:250vw;  
    }
    .articles{
        width:250vw;
    }
    .supercharge{
        width: 250vw; 
    }
    .platform{
        width: 250vw;
    }
    .state{
        width:250vw;
    }
    .nav-wrapper{
        width: 250vw;
    }
    .footer {
        width: 250vw;
    }
    ul {
        visibility: hidden;
    }
    .images {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .description {
        margin-left:30px;
       
    }
    
    body {
        font-size: calc(11.81818px + .68182vw);
    }
    .start button {
        margin-left:30px;
    }
}